@model LibrarieModele.Product

@{
    ViewBag.Title = "Add New Product";
}

<h2 class="text-center">@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.ValidationSummary(true)

    <div class="form-group">
        @Html.LabelFor(model => model.Product_Name, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Product_Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Product_Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Price, new { @class = "form-control", type = "number" })
            @Html.ValidationMessageFor(model => model.Price)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Image_URL, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Image_URL, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Image_URL)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Category_Name, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Category_Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Category_Name)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Popularity, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Popularity, new { @class = "form-control", type = "number" })
            @Html.ValidationMessageFor(model => model.Popularity)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Category_Id, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Category_Id, new { @class = "form-control", type = "number" })
            @Html.ValidationMessageFor(model => model.Category_Id)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Add Product</button>
        </div>
    </div>
}

@Html.ActionLink("Back to Product List", "Index", null, new { @class = "btn btn-default" })
