@model LibrarieModele.Product

<h2>Delete Product</h2>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Product_Name)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Product_Name)
    </dd>

</dl>

@using (Html.BeginForm("DeleteConfirmed", "Home", new { id = Model.Product_Id }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Product_Id)

    <button type="submit" class="btn btn-danger" id="delete-btn">Delete</button>
}

<a href="@Url.Action("Index", "Home")" class="btn btn-default">Cancel</a>
