@model LibrarieModele.Product

@{
    ViewBag.Title = "Details";
}

<h2>Product Details</h2>

<div>
    <strong>Product Name:</strong> @Model.Product_Name<br />
    <strong>Description:</strong> @Model.Description<br />
    <strong>Price:</strong> @Model.Price<br />

    <img src="@Model.Image_URL" alt="@Model.Product_Name" width="200" height="200" />


    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Product_Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
