<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - eTailor Shop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">

    <style>
        .motto {
            color: #ffc107;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
        <div class="container">
            <div class="mr-3">
                @Html.ActionLink("eTailor Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <p class="motto">Discover Style, Uncover Tech</p>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse"
                    title="Toggle navigation" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Cart", "Cart", "Home", new { area = "" }, new { @class = "nav-link" })</li> <!-- Add Cart link -->
                </ul>
                <ul class="navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Logout", "Logout", "Admin", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Cart", "Cart", "Home", new { area = "" }, new { @class = "nav-link" }) <!-- Move Cart link here -->
                        </li>
                        <li class="nav-item" id="user-info" style="margin-left: 10px;">
                            <span>Welcome, @User.Identity.Name</span>
                            <span>(@string.Join(",", Roles.GetRolesForUser()))</span>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Login", "Login", "Admin", new { area = "" }, new { @class = "nav-link" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Cart", "Cart", "Home", new { area = "" }, new { @class = "nav-link" }) <!-- Move Cart link here -->
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <footer class="bg-dark text-white text-center py-3">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - eTailor Shop</p>
            <p>*1 - Prices are in EURO</p>
        </div>
    </footer>
</body>

</html>
